
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;500;600;700&display=swap');



body{
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
}

.fundoinicial{
    height: 600px;
    background-image: linear-gradient(180deg, #000000 0%, #000000 35.42%, #171717 55.21%, #000000 71.35%, #000000 100%);
}
.textColor1{
    color: white;
    font-family: 'Inconsolata', monospace;
}
.textColor1:hover{
    color: gold;
    transform: scale(1.1);
    transition: 1.5s;
}
.nav-submenu-login{
    padding-right: 10px;
    margin-right: 16px;
    border-right: 1px solid white ;
    
}
.nav-submenu-login img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* princilpal */
main{
    display: flex;
    text-align: center;
    padding: 100px;
}
form{
    display: flex;
    padding: 10%;
    background: #FDBA12;
    width: 100%;
    height: 400px;
}
form section{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
form h3{
    display: flex;
    flex-direction: column;
    color: black;
}

/* Footer CSS */

footer{
    color: white;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: 250px;
    border-top: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer1{
    display: flex;
    flex-direction: column;

}
#footer1 h2{
    font-size: 20px;
    color: white;
}
#footer1 h3:visited{
    color: white;
    text-decoration: none;
}
#footer1 h3:hover{
    color: white;
    text-decoration: none;

}
a{
    text-decoration: none;
}
#footer1 h3{
    font-size: 12px;
    color: white;
}

#footer2{
    width: 30%;
    color: white;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#footer2 h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.footerImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer2 img{
    height: 30px;
    width: 30px;
    margin-right: 10px;}

/* Media Style */

    @media  screen and (max-width:1000px) {

        .nav-submenu{
            display: none !important;
        }
        .collapse navbar-collapse{
            display: flex;
            justify-content: end;
        }
        .productAndInfo img{
            height: 200px;
            object-fit: cover;
        }
        
    }