*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
    overflow-x: hidden;
}


.fundoinicial{
    height: 600px;
    background-image: linear-gradient(180deg, #000000 0%, #000000 35.42%, #171717 55.21%, #000000 71.35%, #000000 100%);
}

/* NavBar */

.textColor1{
    color: white;
    font-family: 'Inconsolata', monospace;
}
.textColor1:hover{
    color: gold;
    transform: scale(1.1);
    transition: 1.5s;
}
.nav-submenu-login{
    padding-right: 10px;
    margin-right: 16px;
    border-right: 1px solid white ;
    
}
.nav-submenu-login img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


/* Section 1 Style */

.sectionPrincipal{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.productAndInfo{
    width: 80%;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    animation-duration: 5s;
    animation-name: fadeIn;
}
.productAndInfo h1{
    color: goldenrod;
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 600;
}
.productAndInfo h3, h4{
    margin: 0 auto;
    width: 35%;
    color: white;
    font-size: 20px;
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productAndInfo img{
    height: 300px;
    object-fit: cover;
}
.buttons1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons1 p {
    color: gold;
    padding-right: 10px;
    padding-top: 10px;
}
.buttons1 p:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 1.5s;
}
/* Section 2 Style */

.secondSection{
    height: 300px;
    background-color: black;
    border-top: 2px solid grey;
    display: flex;
    align-items: center;


}
.secondSectionContainer{
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleDiv{
    width: 60%;
}
.pDiv{
    width: 40%;

}
.titleDiv h2{
    color: goldenrod;
    font-size: 60px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    letter-spacing: 3px;
}
.pDiv p{
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    letter-spacing: 1px;

}

.gradient {
    background: linear-gradient(to bottom, rgba(210,150,0,1) 0%, rgba(255,215,0,1) 35%, rgb(241, 223, 140) 52%, rgba(255,215,0,1) 65%, rgba(210,150,0,1) 86%);
    color: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
}
.gradientSide {
    background: linear-gradient(90deg, rgba(210,150,0,1) 0%, rgba(255,215,0,1) 35%, rgb(240, 217, 114) 52%, rgba(255,215,0,1) 65%, rgba(210,150,0,1) 86%);
    color: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
}

/* Footer CSS */

footer{
    color: white;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    margin: 0 auto;
    height: 250px;
    border-top: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#footer1{
    width: 10%;
    display: flex;
    flex-direction: column;

}
#footer1 h2{
    font-size: 20px;
    color: white;
}
#footer1 h3:visited{
    color: white;
    text-decoration: none;
}
#footer1 h3:hover{
    color: white;
    text-decoration: none;

}
a{
    text-decoration: none;
}
#footer1 h3{
    font-size: 15px;
    color: white;
}

#footer2{
    width: 30%;
    color: white;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#footer2 h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.footerImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer2 img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}




 /* Media Style */

    @media  screen and (max-width:1100px) {

    .productAndInfo{
        width: 90%;
        text-align: center;
    }
    .productAndInfo h3 h4{
        margin: 0 auto;
        width: 100%;
    }


    @media  screen and (max-width:1000px) {

        .nav-submenu{
            display: none !important;
        }
        .collapse navbar-collapse{
            display: flex;
            justify-content: end;
        }
        .productAndInfo{
            width: 90%;
            text-align: center;
        }
        .productAndInfo h1{
            color: goldenrod;
            margin: 0 auto;
        }

        .productAndInfo h3 h4{
            margin: 0 auto;
            width: 90%;
        }

        .secondSectionContainer{
            width: 70%;
            margin: 0 auto;
        }

        .titleDiv h2{
            font-size: 50px;
        }
        .pDiv p{
            font-size: 12px;
        
        }    
        #footer1{
            width: 30%;
        }
        #footer1 h2{
            font-size: 20px;
        }

        #footer1 h3{
            font-size: 14px;
        }
        
        #footer2{
            width: 30%;
        }
        #footer2 h3{
            font-size: 13px;
        }

    }


    @media  screen and (max-width:500px) {

        .nav-submenu{
            display: none !important;
        }
        .collapse navbar-collapse{
            display: flex;
            justify-content: end;
        }
        .fundoinicial{
            height: 450px;
        }
        .productAndInfo{
            width: 90%;
            text-align: center;
        }
        .productAndInfo h1{
            color: goldenrod;
            margin: 0 auto;
            font-size: 50px;
        }
        .productAndInfo h3, h4{
            width: 80%;
            margin: 0 auto;
            font-size: 16px;
        }
        .productAndInfo img{
            height: 200px;
            object-fit: cover;
        }
        .secondSection{
            height: 200px;
        }
        .secondSectionContainer{
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .titleDiv{
            width: 90%;
        }
        .pDiv{
            width: 90%;
        
        }
        .titleDiv h2{
            font-size: 28px;
            text-align: center;
        }
        .pDiv p{
            font-size: 8px;
        
        }

        #footer1{
            width: 20%;
        }
        #footer1 h2{
            font-size: 18px;
        }

        #footer1 h3{
            font-size: 11px;
        }
        
        #footer2{
            width: 30%;
        }
        #footer2 h3{
            font-size: 10px;
        }

        #footer2 img{
            height: 20px;
            width: 20px;
        }      
    }

/* ANIMATIONS WITH CSS */

    @keyframes fadeIn{
        from{
            opacity: 0%;
        }
        to{
            opacity: 100%;
        }
    }

}