body{
    background-color: black;
}

.fundoinicial{
    height: 864px;
    background-image: linear-gradient(180deg, #000000 0%, #000000 35.42%, #1e1c1c 55.21%, #000000 71.35%, #000000 100%);
}
.textColor1{
    color: white;
}
.textColor1:hover{
    color: gold;
    transform: scale(1.2);
    transition: 1.5s;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.nav-submenu-login{
    padding-right: 10px;
    margin-right: 16px;
    border-right: 1px solid white ;
    
}
.nav-submenu-login img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}