body{
    background-color: black;
    width: 100%;
    overflow-x: hidden;
}
.textColor1{
    color: white;
    font-family: 'Inconsolata', monospace;
}
.textColor1:hover{
    color: gold;
    transform: scale(1.1);
    transition: 1.5s;
}
.nav-submenu-login{
    padding-right: 10px;
    margin-right: 16px;
    border-right: 1px solid white ;
    
}
.nav-submenu-login img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/* Footer CSS */
main{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(180deg, #000000 0%, #000000 35.42%, #171717 55.21%, #000000 71.35%, #000000 100%);

}
.formBox{
    margin: 0 auto;
    margin-top: 150px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.firstBox{
    background-color: goldenrod;
    width: 400px;
    height: 500px;
    justify-content: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;;
}
.firstBox img{
    object-fit: cover;
    width: 350px;
}
.firstBox h3{
    margin: 0 auto;
    font-size: 25px;

}
.secondBox{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.secondBox img{
    object-fit: cover;
    width: 250px;
    margin-bottom: 50px;
}
.secondBox form{
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-family: 'IBM Plex Sans Condensed', sans-serif;;

}
input{
    width: 250px;
    margin-bottom: 20px;

}
.recovering{
    font-size: 10px;
    margin-bottom: 20px;
}
.recovering a{
    padding-right: 10px;
    color: goldenrod;

}
.secondBox button{
    width: 200px;
    height: 50px;
    background: linear-gradient(180deg, #FEC600 0%, #C59B08 100%);
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: transparent;

}
footer{
    color: white;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: 250px;
    border-top: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer1{
    display: flex;
    flex-direction: column;

}
#footer1 h2{
    font-size: 20px;
    color: white;
}
#footer1 h3:visited{
    color: white;
    text-decoration: none;
}
#footer1 h3:hover{
    color: white;
    text-decoration: none;

}
a{
    text-decoration: none;
}
#footer1 h3{
    font-size: 12px;
    color: white;
}

#footer2{
    width: 30%;
    color: white;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#footer2 h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.footerImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer2 img{
    height: 30px;
    width: 30px;
    margin-right: 10px;}

/* Media Style */

    @media  screen and (max-width:1000px) {

        .nav-submenu{
            display: none !important;
        }
        .collapse navbar-collapse{
            display: flex;
            justify-content: end;
        }
        .productAndInfo img{
            height: 200px;
            object-fit: cover;
        }
        
    }