body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
}

.fundoinicial {
  height: 600px;
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    #000000 35.42%,
    #171717 55.21%,
    #000000 71.35%,
    #000000 100%
  );
}

.textColor1 {
  color: white;
  
  font-family: "Inconsolata", monospace;
}

.textColor1:hover {
  color: gold;
  transform: scale(1.1);
  transition: 1.5s;
}

.nav-submenu-login {
  padding-right: 10px;
  margin-right: 16px;
  border-right: 1px solid white;
}

.nav-submenu-login img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Footer CSS */

footer{
  color: white;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  margin: 0 auto;
  height: 250px;
  border-top: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#footer1{
  width: 10%;
  display: flex;
  flex-direction: column;

}
#footer1 h2{
  font-size: 20px;
  color: white;
}
#footer1 h3:visited{
  color: white;
  text-decoration: none;
}
#footer1 h3:hover{
  color: white;
  text-decoration: none;

}
a{
  text-decoration: none;
}
#footer1 h3{
  font-size: 15px;
  color: white;
}

#footer2{
  width: 30%;
  color: white;
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#footer2 h3{
  font-size: 15px;
  margin-bottom: 10px;
}
.footerImg{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer2 img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  .nav-submenu {
    display: none !important;
  }

  .collapse navbar-collapse {
    display: flex;
    justify-content: end;
  }

  .productAndInfo img {
    height: 200px;
    object-fit: cover;
  }
}

/* Config.login */

#logo {
  width: 70px;
  height: 60.52px;
  left: 336px;
  top: 760px;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  background-color: black;
}

.login_container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  width: 800px;
  height: 500px;
  background-color: white;
}

.image {
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

#img_1 {
  object-fit: cover;
  width: 370px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_logo img {
  object-fit: cover;
  width: 200px;
  margin-bottom: 60px;
  margin-top: 20px;
}

form button {
  background: linear-gradient(180deg, #fec600 0%, #c59b08 100%);
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 210px;
  height: 62px;
  top: 582px;
  left: 940px;
  border: none;
}

form label {
  width: 267px;
  height: 29px;
  top: 369px;
  left: 908px;
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

form input {
  box-sizing: border-box;
  width: 347px;
  height: 56px;
  left: 871px;
  top: 406px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

form p {
  display: none;
  color: goldenrod;
  width: 258px;
  height: 19px;
  top: 508px;
  left: 926px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #c89e09;
}

form input,
p {
  margin-bottom: 40px;
}


  @media  screen and (max-width:1000px) {
  
      #footer1{
          width: 30%;
      }
      #footer1 h2{
          font-size: 20px;
      }

      #footer1 h3{
          font-size: 14px;
      }
      
      #footer2{
          width: 30%;
      }
      #footer2 h3{
          font-size: 13px;
      }

  }


  @media  screen and (max-width:500px) {

      #footer1{
          width: 20%;
      }
      #footer1 h2{
          font-size: 18px;
      }

      #footer1 h3{
          font-size: 11px;
      }
      
      #footer2{
          width: 30%;
      }
      #footer2 h3{
          font-size: 10px;
      }

      #footer2 img{
          height: 20px;
          width: 20px;
      }      
  }
