/* start global */
body{
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
}

.fundoinicial{
    height: 600px;
    background-image: linear-gradient(180deg, #000000 0%, #000000 35.42%, #171717 55.21%, #000000 71.35%, #000000 100%);
}
.textColor1{
    color: white;
    font-family: 'Inconsolata', monospace;
}
.textColor1:hover{
    color: #ffd700;
    transform: scale(1.1);
    transition: 1.5s;
}
/* end global */

/* start nav */
/* header .navbar-brand img{
    width: 50px;
    height: 50px;
} */

.nav-submenu-login{
    padding-right: 10px;
    margin-right: 16px;
    border-right: 1px solid white ;
    
}
.nav-submenu-login img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/* end nav */

/* start main */
main .mainSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

main .title{
    width: 100%;
    text-align: center;
}

main h1{
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: 600;
}

main .team1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 15% 50px 15%;
}

main .team2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 2% 50px 2%;
}

main .dev{
    display: flex;
    margin: 0px 0px;
}

main .dev img{
    height: 220px;
    width: 220px;
}

main .dev h3{
    text-decoration: underline;
}

main .cardFront{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: white;
}

main .cardBack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    height: 220px;
    width: 220px;
    padding: 0 20px 0 30px;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    background-color: goldenrod;
    position: absolute;
    z-index: -1;
}

main .dev:hover .cardFront{
    margin: 0 160px 0 0;
    animation: slideL 0.2s;
}

main .dev:hover .cardBack{
    margin: 20px 0 0 180px;
    padding: 0 20px 0 30px;
    animation: slideR 0.2s;
}

.gradient {
    background: linear-gradient(to bottom, rgba(210,150,0,1) 0%, rgba(255,215,0,1) 35%, rgb(241, 223, 140) 52%, rgba(255,215,0,1) 65%, rgba(210,150,0,1) 86%);
    color: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
}
.gradientSide {
    background: linear-gradient(90deg, rgba(210,150,0,1) 0%, rgba(255,215,0,1) 35%, rgb(240, 217, 114) 52%, rgba(255,215,0,1) 65%, rgba(210,150,0,1) 86%);
    color: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
}

/* end main */

@media  screen and (max-width:1080px) {
    
    .nav-submenu{
        display: none !important;
    }
    .collapse navbar-collapse{
        display: flex;
        justify-content: end;
    }
    .productAndInfo img{
        height: 200px;
        object-fit: cover;
    }
    
    main .team2{
        margin: 0 15% 50px 15%;
    }
    
    main #dev5{
        margin: 50px 50%;
    }
    
}

@media  screen and (max-width:880px) {
    
    main .team1{
        margin: 50px 15% 0 15%;
    }

    main .cardBack{
        margin: 20px 0 0 0;
        padding: 10px 5px 0 5px;
    }
    
    main .dev{
        margin: 20px 50%;
    }

    main #dev5{
        margin: 20px 50%;
    }

    main .dev:hover .cardBack{
        margin: 180px 0 0 0;
        padding: 10px 5px 0 5px;
        animation: slideD 0.2s;
    }
    
    main .dev:hover .cardFront{
        margin: 0 0 180px 0;
        animation: slideU 0.2s;
    }
}

@keyframes slideR{
    0%{
        margin: 10px 0 0 50px;
    }
        
    100%{
        margin: 20px 0 0 180px;
    }
}
    
@keyframes slideL{
    0%{
        margin: 0 50px 0 0;
    }

    100%{
        margin: 0 160px 0 0;
    }
}

@keyframes slideD{
    0%{
        margin: 60px 0 0 0;
    }

    100%{
        margin: 170px 0 0 0;
    }
}

@keyframes slideU{
    0%{
        margin: 0 0 60px 0;
    }

    100%{
        margin: 0 0 170px 0;
    }
}

/* Footer CSS */

footer{
    color: white;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    margin: 0 auto;
    height: 250px;
    border-top: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#footer1{
    width: 10%;
    display: flex;
    flex-direction: column;

}
#footer1 h2{
    font-size: 20px;
    color: white;
}
#footer1 h3:visited{
    color: white;
    text-decoration: none;
}
#footer1 h3:hover{
    color: white;
    text-decoration: none;

}
a{
    text-decoration: none;
}
#footer1 h3{
    font-size: 15px;
    color: white;
}

#footer2{
    width: 30%;
    color: white;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#footer2 h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.footerImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer2 img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


    @media  screen and (max-width:1000px) {
   
        #footer1{
            width: 30%;
        }
        #footer1 h2{
            font-size: 20px;
        }

        #footer1 h3{
            font-size: 14px;
        }
        
        #footer2{
            width: 30%;
        }
        #footer2 h3{
            font-size: 13px;
        }

    }


    @media  screen and (max-width:500px) {


        #footer1{
            width: 20%;
        }
        #footer1 h2{
            font-size: 18px;
        }

        #footer1 h3{
            font-size: 11px;
        }
        
        #footer2{
            width: 30%;
        }
        #footer2 h3{
            font-size: 10px;
        }

        #footer2 img{
            height: 20px;
            width: 20px;
        }      
    }
